# BasedOnStyle: GNU
Language: Cpp                          # Yes, should also be used for C. 
UseTab: Never
BreakBeforeBraces: Whitesmiths         # This also indents function body braces
IndentWidth: 2
IndentPPDirectives: BeforeHash         # indentation of preprocessor directives
# MaxEmptyLinesToKeep: 1
# PointerAlignment: Right
ColumnLimit: 0
ReflowComments: true
# SpacesBeforeTrailingComments: 4
# SpacesInContainerLiterals: false
# SpaceAfterCStyleCast: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
# InsertBraces: true                     # always braces after control statements
# BreakBeforeBinaryOperators: None