# BasedOnStyle: GNU
Language: Cpp                          # Yes, should also be used for C. 
UseTab: Never
BreakBeforeBraces: Custom         # This also indents function body braces
BraceWrapping:
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: false
  IndentBraces: true
IndentWidth: 2
IndentPPDirectives: BeforeHash         # indentation of preprocessor directives
AlignConsecutiveAssignments: 
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignEscapedNewlines: Right          # This equivalent to 'LeftWithLastLine' as long as 'ColumnWidth: 0'
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
# Details
InsertBraces: true                     # always braces after control statements
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
BreakBeforeBinaryOperators: None
AllowShortBlocksOnASingleLine: Never # Consider other single line constructs, such as functions etc.
ColumnLimit: 0
ReflowComments: true
# SpacesBeforeTrailingComments: 4
# SpacesInContainerLiterals: false
# SpaceAfterCStyleCast: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false